<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64049246518-ct7qfmkf240f68kuac4ngg5u3v84nroq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64049246518-ct7qfmkf240f68kuac4ngg5u3v84nroq</string>
	<key>API_KEY</key>
	<string>AIzaSyAjl7n_HERKxzoEuMymhnZwZ63IhlqPdO4</string>
	<key>GCM_SENDER_ID</key>
	<string>64049246518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivekkekuda.takeNotes</string>
	<key>PROJECT_ID</key>
	<string>notes-70876</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-70876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64049246518:ios:e3bbc87fcc9e8257</string>
	<key>DATABASE_URL</key>
	<string>https://notes-70876.firebaseio.com</string>
</dict>
</plist>